{% extends 'base.html.twig' %}

{% block title %}Admin - Connexion{% endblock %}

{% block body %}
<form method="post">
    <div class="login-section">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div class="mb-3">
                Vous ête connecté en tant que {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Déconnexion</a>
                <p class="login-text"> OU </p>
                <p class="login-text"> retournez sur votre <a href="{{ path('admin') }}">espace Administrateur</a></p>
            </div>
        {% endif %}

        <h1 class="h3 mb-3 font-weight-normal logo-title login">Mirko Ace - Connexion</h1>

        <div class="login-content">
            <label class="login-label" for="inputEmail">Adresse Email</label>
            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control login-input" autocomplete="email" required autofocus>
            <label class="login-label" for="inputPassword">Mot de Passe</label>
            <input type="password" name="password" id="inputPassword" class="form-control login-input" autocomplete="current-password" required>

            <input type="hidden" name="_csrf_token"
                value="{{ csrf_token('authenticate') }}"
            >

            <button class="btn btn-lg btn-primary login-btn" type="submit">
                Connexion
            </button>

        </div>


    </div>
</form>
{% endblock %}
